.page-home {
  min-height: 100vh;
  // background-color: #707070;
  background-repeat: repeat-y;
  background-image: url("http://getwallpapers.com/wallpaper/full/1/4/7/29914.jpg");
}
.ant-pagination-item-ellipsis {
  color: white !important;
}
